@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes border-beam {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 100% 50%;
    }
  }
  
  .border-beam {
    border: px solid transparent;
    background: linear-gradient(90deg, rgba(255,255,255,255) 0%, rgb(43, 53, 255) 50%, rgb(0, 255, 255) 100%);
    background-size: 200% 200%;
    animation: border-beam 2s linear infinite;
    border-image: linear-gradient(90deg, rgba(255,255,255,255) 0%, rgb(43, 53, 255) 50%, rgb(0, 255, 255) 100%);
    border-image-slice: 200;
  }